*{
    margin: 0;
    padding: 0;

}

.main{
    background-image: url("images/bg.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
}

.main .box{
    height: 100vh;
    position:absolute;
    top: 0;
    width: 100%;
    opacity: 0.6;
    background-color: black;
}

.main nav{
    width:80%;
    margin: auto;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first{
    height: 30px;
  width: 102px;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 17px;
}

#second{
    background: red;
  border: 1px solid red;
  width: 60px;
  height: 29px;
  color: white;
  font-weight: bold;

}

nav .side{
    display: flex;
    gap: 8px;
}

.content{
    color: white;
    font-size: 65px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centerr;
  justify-content: center;
  position: relative;
  z-index: 10;
    margin-top: 80px;
}

.money{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: relative;
    z-index: 10;
}

.mabo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-top: 20px;
}

.mabo  input{
    width: 450px;
    height: 46px;
    background-color: rgb(40, 40, 40);
    border: 1.2px solid rgb(186, 186, 186);
    color: white;
    font-size: 16px;
}
.mabo button{
    background: red;
  border: 1px solid red;
  width: 220px;
  height: 50px;
  color: white;
  font-weight: bold;
}

.border{
    height: 4px;
    width: 100%;
    background-color: rgb(71, 71, 71);
}

.secon{
    background-color: black;
    height: 100%;
    padding-left:140px;;
}

.item1{
    display: flex;
    flex-direction: column;
    gap: 13px;
    display: flex;
     gap: 20px;
     font-size: 25px;
    padding-top: 20px;
}

.ot{
    font-size: 8px;
    display: flex;
    gap: 20px;
}

.ot button{
    background-color: rgb(31, 31, 31);
    color: white;
    width: 69px;
    height: 38px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 4px;
    cursor: pointer;
}

.secon p{
    color: white;
}

.slider{
    display: flex;
    margin-top: 30px;
   justify-content: space-evenly;

   padding-bottom: 40px;
}

.slider1{
    border-radius: 5px;
}
.slider1 :hover{
   transition: ease-in-out 2s;
   z-index: 10;
}

.secon p{
    font-size: 28px;
}

.cards{
    padding: 10px 0px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1{
    padding-top: 15px;
    display: flex;
    gap: 20px;
    align-items: center;

    flex-direction: column;
    height: 200px;
    width: 250px;
    border-radius: 7px;
    background-color: rgb(30, 30, 77);
}

.card1 pre{
    font-size: 13.3px;
    color: white;
}

.card1 h2{
    color: white;
}

.secon img{
    height: 100vh;
    width: 90%;
}

.last{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 250px;
    padding-top: 70px;
    height: 100vh;
    width: 83.7%;
    gap: 30px;
}

.last .top p{
    font-size: 35px;
}

.last .card{
    display: flex;
    font-size: 35px;
    flex-direction: column;
    background-color: black;
}

.last .card p{
    display: flex;    
    background-color: rgb(48, 48, 48);
    gap: 30px;
   justify-content: center;
    height: 66px;
    padding-top: 25px;
    width: 1116px;
    font-size: 35px;
    border: 5px solid black;
    color: white;
    padding-left: 10px;
    justify-content: space-between;
}

.card span{
    padding-right: 20px;
}

.card p:hover{
    background-color: grey;
}

.la{
    padding-top: 30px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.la p{
    font-size: 29px;
}

footer{
    background-color: black;
    height: 80vh;
    width: 100vw;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 100px;
    gap: 50px;
}

.cards p{
    position: relative;
    right: 440px;
    color: rgb(171, 171, 171);
    font-size: 20px;
}

.cards p span{
    text-decoration: underline ;
    color: rgb(171, 171, 171);
}

.lists{
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    color: rgb(172, 172, 172);
    font-size: 17px;
}

.lists ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    cursor: pointer;
}


.lists li{
   list-style: none;
    text-decoration: underline;
}

.end{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    left: 150px;
    padding-top: 70px;
}

.end button{
    cursor: pointer;
}

.end p{ 
    font-size: 16px;
    color: rgb(173, 173, 173);
}